<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>Landing Page</title>
</head>
<body>
    <section class="container">
        <h1 class="title"> Bang For Your Buck </h1>
        <p class="subtitle"> We are here to bring you the most affordable food in your area. 
          We know how expensive it can be to eat out, so we are here to help you find the best deals.
          We tailor our results to your location and budget, so you can find the best option for you.
          Regardless of your dietary restrictions, we have something for everyone.
        </p>
    </section>
</body>
</html>