<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="about">About Us</a>
          <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="login">Login/Registration</a>
          <a class="nav-link fw-bold py-1 px-0" href="#">Find a Restaurant</a>
          <a class="nav-link fw-bold py-1 px-0" href="#">Log a Review</a>
        </nav>
      </div>
    </header>
</div>