
/*

.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; // Prevent inheritance from `body` 
} 

.cover-container {
    max-width: 42em; 
}
.nav-masthead .nav-link {
    color: rgba(224, 39, 39, 0.5);
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(155, 42, 42, 0.25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #dd0000;
    border-bottom-color: #fff;
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  */
  .nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #333;
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 56px;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  }