.outer {
    height: 100vh;
    background: linear-gradient(rgba(213, 85, 85, 0.5), rgba(0, 0, 0, 0.6)),
    url(https://assets.bonappetit.com/photos/63a390eda38261d1c3bdc555/4:5/w_1920,h_2400,c_limit/best-food-writing-2022-lede.jpg) no-repeat center/cover;
    background-size: 150%;
    background-position: bottom left;
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px;
    color: #dd0000;
}

a:hover {
    text-decoration: none;
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn{
    margin-top: 20px;
    border-radius: 15px;
    background-color: #dd0000;
    border-color:white;
}

.panel {
    min-height: 380px;
    border-radius: 12px;
    margin: 100px auto;
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    margin-top: 115px;
    margin-left: 230px; 
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: rgba(213, 85, 85, 0.5);
}

.input-field.error {
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: rgb(224, 39, 39, 0.5);
    color: #dd0000;
}

img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(224, 39, 39, 0.5);
}

a#forget {
    color: #dd0000;
    margin-left: 10px;
}