<!--<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Register</h1>
                </div>
                <form target="_self" action="http://localhost:8080/register" method="post">
                    <div class="mb-3">
                        <label for="exampleInputFirstName1" class="form-label">First Name</label>
                        <input type="FirstName" class="form-control" id="exampleInputFirstName1" aria-describedby="FirstNameHelp" name="fname">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputLastName1" class="form-label">Last Name</label>
                        <input type="LastName" class="form-control" id="exampleInputLastName1" aria-describedby="LastNameHelp" name="lname">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputUsername1" class="form-label">Username</label>
                        <input type="Username" class="form-control" id="exampleInputUsername1" aria-describedby="UsernameHelp" name="username">
                      </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                      </div>
                      <button type="submit" class="btn btn-primary">Register</button>
                      <a routerLink="/login">Already have an account? Click here to Login</a>
                </form>
            </div>
        </div>
    </div>
</div> -->
<div class="outer">
  <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offert-lg-4 offert-md-3">
          <div class="panel border bg-white">
              <div class="panel-heading">
                  <h3 class="pt-3 font-weight-bold">Sign up</h3>
              </div>
              <div class="panel-body p-3">
                  <form [formGroup]="registrationForm">
                      <div class="form-group pt-3">
                        <div class="input-field" [class.error]="registrationForm.controls['firstName'].dirty && registrationForm.hasError('required', 'firstName')">
                            <input formControlName="firstName" type="text" placeholder="Firstname">
                        </div>
                      </div>
                      <small *ngIf="registrationForm.controls['firstName'].dirty && registrationForm.hasError('required', 'firstName')" class="text-danger">*Firstname is required</small>
                      <div class="form-group pt-3" [class.error]="registrationForm.controls['lastName'].dirty && registrationForm.hasError('required', 'lastName')">
                        <div class="input-field">
                            <input formControlName="lastName" type="text" placeholder="Lastname">
                        </div>
                      </div>
                      <small *ngIf="registrationForm.controls['lastName'].dirty && registrationForm.hasError('required', 'lastName')" class="text-danger">*Lastname is required</small>
                      <div class="form-group pt-3" [class.error]="registrationForm.controls['userName'].dirty && registrationForm.hasError('required', 'userName')">
                          <div class="input-field">
                              <input formControlName="userName" type="text" placeholder="Username">
                          </div>
                      </div>
                      <small *ngIf="registrationForm.controls['userName'].dirty && registrationForm.hasError('required', 'userName')" class="text-danger">*Username is required</small>
                      <div class="form-group pt-3" [class.error]="registrationForm.controls['email'].dirty && registrationForm.hasError('required', 'email')">
                        <div class="input-field">
                            <input formControlName="email" type="text" placeholder="Email">
                        </div>
                    </div>
                    <small *ngIf="registrationForm.controls['email'].dirty && registrationForm.hasError('required', 'email')" class="text-danger">*Email is required</small>
                      <div class="form-group pt-3" [class.error]="registrationForm.controls['password'].dirty && registrationForm.hasError('required', 'password')">
                          <div class="input-field">
                              <input formControlName="password" type="password" placeholder="Password">
                          </div>
                      </div>
                      <small *ngIf="registrationForm.controls['password'].dirty && registrationForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
                      <button (click)="register()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                      <div class="text-center pt-4 text-muted">Already have an account? <a id="forget" routerLink="/login" >Login</a></div>
                  </form>
              </div>
          </div>
        </div>  
      </div>
  </div>
</div>