<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Register</h1>
                </div>
                <form target="_self" action="http://localhost:8080/register" method="post">
                    <div class="mb-3">
                        <label for="exampleInputFirstName1" class="form-label">First Name</label>
                        <input type="FirstName" class="form-control" id="exampleInputFirstName1" aria-describedby="FirstNameHelp" name="fname">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputLastName1" class="form-label">Last Name</label>
                        <input type="LastName" class="form-control" id="exampleInputLastName1" aria-describedby="LastNameHelp" name="lname">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputUsername1" class="form-label">Username</label>
                        <input type="Username" class="form-control" id="exampleInputUsername1" aria-describedby="UsernameHelp" name="username">
                      </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                      </div>
                      <button type="submit" class="btn btn-primary">Register</button>
                      <a routerLink="/login">Already have an account? Click here to Login</a>
                </form>
            </div>
        </div>
    </div>
</div>