<mat-slider>
    <input matSliderThumb>
  </mat-slider>

<p>Test slider using angular material</p>

<h1>Back End Features</h1>

<h2>Login</h2>
<p>Username</p>
<input type="text" id="username" name="username"><br><br>
<p>Password</p>
<input type="text" id="password" name="password"><br><br>
<input type="submit" value="Login">

<h2>Register</h2>
<form target="_blank" action="http://localhost:8080/register" method = "post">
<p>First name</p>
<input type="text" id="fname" name="fname"><br><br>
<p>Last name</p>
<input type="text" id="lname" name="lname"><br><br>
<p>Username</p>
<input type="text" id="username" name="username"><br><br>
<p>Password</p>
<input type="text" id="password" name="password"><br><br>
<input type="submit" value="Register">
</form>
